<div class="paymentOtrBx">
  <img src="https://cdn.shopify.com/s/files/1/0897/1157/5355/files/image157.svg" class="payModeImg"/> 
  <img src="https://cdn.shopify.com/s/files/1/0897/1157/5355/files/image158.svg" class="payModeImg"/> 
  <img src="https://cdn.shopify.com/s/files/1/0897/1157/5355/files/image159.svg" class="payModeImg"/> 
  <img src="https://cdn.shopify.com/s/files/1/0897/1157/5355/files/image160.svg" class="payModeImg"/>   
  <img src="https://cdn.shopify.com/s/files/1/0897/1157/5355/files/image161.svg" class="payModeImg"/> 
  <img src="https://cdn.shopify.com/s/files/1/0897/1157/5355/files/image162.svg" class="payModeImg"/>  
</div> 