<style>

.starOtrBox {
  display:flex;
  gap:10px; 
}
.oneStar {
  max-width:18px; 
}
.ratings {
  font-size:18px; 
  font-weight:300px; 
}
  .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px; 
}
</style>




<div class="starOtrBox">
  <div class="stars">
 	<img class="oneStar" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/Vector%20(7).png">
    <img class="oneStar" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/Vector%20(7).png">
    <img class="oneStar" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/Vector%20(7).png">
	<img class="oneStar" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/Vector%20(7).png">
    <img class="oneStar" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/Group%201238%20(1).png">
  </div>
  
  <div class="ratings">
  267 Reviews
  </div>

</div>