<style>

.featuresOutMost {

display:flex;
gap:20px;
flex-direction:row; 
}


.topFeaturesOtrBx {
  display:flex; 
  flex-direction: column;
  gap:20px;
}


.ftrBox {
  flex:1; 
  display:flex;
  gap:25px; 
  align-items:center; 
  
}
.ftrBoxInrLeftImg {
  max-width:50px;
}

.ftrBoxInrRight {
  font-size:18px; 
  line-height:30px; 
  font-weight:300; 
  color:#3F3631; 
}

.featuresOutMost {
    margin-top: 40px;
}

@media(max-width:620px) {
  .ftrBox {
    flex-direction:column; 
    text-align:center; 
  }
  .ftrBoxInrRight {
    font-size:16px; 
    line-height:26px; 
  }
  .ftrBox {
    gap:10px;
  }
}
</style>



<div class="featuresOutMost" >

    <div class="topFeaturesOtrBx">

        <div class="ftrBox">

            <div class="ftrBoxInrLeft ftrBoxInr">
                <img class="ftrBoxInrLeftImg" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/featuresicons4.png">
            </div>
            <div class="ftrBoxInrRight ftrBoxInr">
                30-day Money-back Guarantee
            </div>          

        </div> 

        <div class="ftrBox">

            <div class="ftrBoxInrLeft ftrBoxInr">
                <img class="ftrBoxInrLeftImg" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/featuresicons2.png">
            </div>
            <div class="ftrBoxInrRight ftrBoxInr">
                Free Shipping within USA
            </div>  

        </div> 

    </div> 

    <div class="topFeaturesOtrBx">

        <div class="ftrBox">

            <div class="ftrBoxInrLeft ftrBoxInr">
                <img class="ftrBoxInrLeftImg" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/featuresicons2.png">
            </div>
            <div class="ftrBoxInrRight ftrBoxInr">
                Signal Catalogue Updates Included
            </div>          

        </div> 

        <div class="ftrBox">

            <div class="ftrBoxInrLeft ftrBoxInr">
                <img class="ftrBoxInrLeftImg" src="https://cdn.shopify.com/s/files/1/0897/1157/5355/t/1/assets/featuresicons1.png">
            </div>
            <div class="ftrBoxInrRight ftrBoxInr">
                Customer Support via E-mail, Phone, and Chat
            </div>  

        </div> 

    </div> 

</div>
